*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#footer{
    position: fixed;
    left:0px;
    bottom: 0px;
    height: 20px;
    width: 100%;
    background: black;
}