body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #0B173D;
    color: blanchedalmond;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header .logo {
    display: flex;
    align-items: center;
    margin-right: 80px;
}

audio {
    margin-right: auto;
    height: 30px;
    width: 330px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: rgb(157, 182, 204);
    padding: 10px;
    transition: color 0.3s;
}

nav a:hover {
    color: white;
}

h7 {
    display: block; 
    text-align: center; 
    margin: 20px auto;
    font-size: 1.5rem;
    color: #333; 
    line-height: 1.6;
    font-weight: 500; 
    max-width: 800px; 
    background: linear-gradient(90deg, #bc9e3b, #B78F0D); 
    padding: 10px;
    border-radius: 8px;
}


.contacto-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.contacto-form label {
    font-weight: bold; 
}

.contacto-form input[type="text"],
.contacto-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contacto-form input[type="submit"] {
    background-color: #B78F0D;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Transición suave para el hover */
}

.contacto-form input[type="submit"]:hover {
    background-color: #0B173D;
}

footer {
    background-color: rgb(0, 0, 0);
    color: bisque;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

footer .contenedor {
    display: inline-block;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; /* Espacio entre elementos */
    justify-content: center;
    align-items: center;
}


footer a {
    color: bisque;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: white;
}

footer li {
    display: flex;
    align-items: center;
}

footer a img {
    width: 20px; 
    margin-right: 5px;
}

#conteCarrusel {
    border: 3px solid #B78F0D;
    height: 500px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.tarjeta {
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}

.tarjeta.active {
    opacity: 1;
    visibility: visible;
}

.imgCarrusel {
    height: 100%;
}

img {
    height: 100%;
    width: 100%;
}

.flechasCarrusel {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

@keyframes carrusel {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    5% {
        opacity: 1;
        visibility: visible;
    }
    33.33% {
        opacity: 1;
        visibility: visible;
    }
    38.33% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.tarjeta:nth-child(1) {
    animation: carrusel 30s infinite;
}

.tarjeta:nth-child(2) {
    animation: carrusel 30s infinite;
    animation-delay: 10s;
}

.tarjeta:nth-child(3) {
    animation: carrusel 30s infinite;
    animation-delay: 20s;
}

i {
    color: #B78F0D;
    cursor: pointer;
}

.imag {
    margin-top: 3px;
    height: 80px;
    width: 225px;
}

.logo {
    width: 150px;
}

.REGISTRO {
    background-color: black;
    color: #B78F0D;
    border-radius: 0.5em;
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
}

.REGISTRO:hover {
    color: black;
    background-color: rgba(206, 5, 247, 0.705);
}

.contenedor1 {
    margin-top: 2%; 
    margin-bottom: 2%; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fotoPrincipal {
    height: 50vh; 
    width: 20vw; 
    display: inline-block;
    animation: pulse 5s infinite;
    animation-play-state: paused;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    35% {
        transform: scale(1.1);
    }
    85% {
        transform: scale(1);
    }
}

/* Retrasos en la animación */
.fotoPrincipal:nth-child(1) {
    animation-delay: 0s;
}

.fotoPrincipal:nth-child(2) {
    animation-delay: 1s;
}

.fotoPrincipal:nth-child(3) {
    animation-delay: 2s;
}

.fotoPrincipal:nth-child(4) {
    animation-delay: 3s;
}

.ventana-emergente {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.contenido-ventana {
    background-color: #B78F0D;
    margin: 15% auto;
    padding: 20px;
    color: #0B173D;
    border: 2px solid #0B173D;
    width: 40%;
}

.boton-cerrar {
    color: #ff0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.boton-cerrar:hover,
.boton-cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#btnMostrarMensajes {
    cursor: pointer;
}

.btn-grow {
    display: inline-block;
    padding: 10px 10px;
    margin: 10px;
    transition: all 0.3s ease;
}

.btn-grow:hover {
    padding: 15px 25px;
    background-color: #B78F0D;
    color: white;
}

.seguir-redes {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #bc9822d0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.seguir-redes img.icono-patita {
    width: 50px;
    height: auto;
    display: inline-block;
    margin-bottom: 10px;
}

.seguir-redes p {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
}

.seguir-redes p strong {
    font-size: 25px;
    color: #0B173D;
}

.seguir-redes p span b {
    color: #2c3e50;
}
